h1{
text-align: center;
text-shadow: 50px;
position: relative;
}

h2{

}


body{

}

.button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    position: center;
    top: 50px;
    left: 50px;
    text-align: center;
}
.button:hover{
    background-color: white;
    color: black;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
    position: center;
    width:fit-content;
}


h2:hover{
    background-color: silver;
    color: aqua;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transition: 0.5s;   
    position: center;
    width:fit-content
}














